<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>

  <body>
    {% extends 'blogApp/base.html' %} {% block main-block %}
    <div class="form-group">
      <form
        method="POST"
        class="text-light text-center"
        enctype="multipart/form-data"
      >
        {% csrf_token %} {{ form.media }} {{ form.as_p }} 
        <button class="btn btn-success" type="submit">Submit</button>
        <button class="btn btn-danger" type="reset">Reset</button> <br />
        <a class="btn btn-outline-light mt-2" href="{% url 'post' %}"
          >Back Post</a
        >
      </form>
    </div>

    {% endblock %}
  </body>
</html>
