
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>CATEGORIES</title>
</head>

<body class="bg-secondary">
  {% extends 'blogApp/base.html' %} {% load static %} {% block content %}
  <ul class="text-dark">
    {% for category in CATEGORIES %}
    <h5>name: {{category.name}} </h5>
    <h5>followers: {{category.followers}} </h5>
    <hr/>
    {% endfor %}
  </ul>
  {% endblock %}
</body>

</html>