<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>post</title>
</head>
  <body>
    {% extends 'blogApp/base.html' %} {% load static %} {% block content %}
    <ul class="text-dark">
      {% for post in all_posts %}
      <li>{{post.id}}</li>
      <li>{{post.title}}</li>
      <li>{{post.content}}</li>
      <li><img src='{{ MEDIA_URL }}{{ post.postpicture }}' width="300px" height="300px"></li>
      <li>{{ post.user }}</li>
      <li>{{ post.post_date }}</li>
      <div class="row container-fluid">
        <div class="col-3">
          <li>
            <a
              class="btn btn-outline-success"
              href="{% url 'postDetails' post.id %}"
            >
              ShowDetails</a
            >
          </li>
        </div>
        <div class="col-3">
          <li>
            <a
              class="btn btn-outline-success"
              href="{% url 'editPost' post.id %}"
            >
              editPost</a
            >
          </li>
        </div>
        <div class="col-3">
          <li>
            <a
              class="btn btn-outline-success"
              href="{% url 'deletePost' post.id %}"
            >
              deletePost</a
            >
          </li>
        </div>
      </div>
      <div class="col-3">
        <li>
          <a class="btn btn-outline-success" href="{% url 'deletePost' post.id %}">
            deletePost</a>
        </li>
      </div>

     
      <div class="col-3">
        <li>
          <a class="btn btn-outline-success" href="{% url 'addComment' post.id %}">
            add comment
          </a>
        

        </li>
      </div>
      {% endif  %}
    </div>

    <hr />
    <hr />
    {% endfor %}
  </ul>
  <a class="btn btn-outline-success" href="{% url 'addPost' %}"> Add POST</a>
  {% endblock %}
</body>

</html>