<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>{{ post.title }}</h1>
    <p>{{ post.content}}<p>
    <img src="{{ post.postpicture }}"/>
    <p>{{ post.category }}<p>
    <p>{{ post.tags }}</p>
    <p>{{ post.user }}</p>
    <p>{{ post.post_date }}</p>
    <div>
       <h3>Comments</h3>
       {% if not post.comments.all %}
          no comments yet 
        {% else %}
            {% for comment in post.comments.all  %}
               <strong> {{ comment.date_added }}</strong>
               <br />
               {{ comment.body }}
            {% endfor %}
        {% endif  %}
    </div>
    <a href="{% url 'post' %}">Back</a>
    
</body>
</html>